<%= link_to "-", vote_post_path(post,:vote => -1), :method => :post, :remote => true %>
<span class="rating"><%= post.rating %></span>
<%= link_to "+", vote_post_path(post,:vote => 1), :method => :post, :remote => true %>

